.frame {
    width: 300px;
    height: 600px;
    border-top: 1px solid #333;
    background-color: #e4423222;
    border-top: 2px solid #e44232;
    padding-bottom: 8px;
    border-radius: 16px;
    margin-bottom: 16px;
    flex: 1 1 250px;
    margin: 12px;
    display: flex;
    flex-direction: column;
    transition: height 0.3s ease-in-out;
}

.header {
    padding: 16px 24px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}
.title {
    flex: 1;
    font-size: 1.6rem;
    font-weight: bold;
}

.number {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e44232;
    font-size: 1.6rem;
    border-radius: 8px;
    background-color: #e4423266;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: #e4423288;
    }
}
.plus {
    margin: 0px 24px 4px 24px;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: #e44232;
    border-radius: 6px;
    background-color: #e4423222;
    cursor: pointer;
    transition: background-color 0.2s ease;
    &:hover {
        background-color: #e4423266;
    }
}
.project-wrapper {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    padding: 4px 24px;
    height: 80%;
    overflow-y: overlay;
    border-radius: 8px;
}

// ------ Overlay ------

.seeall-overlay {
    background-color: rgb(34, 31, 31, 0.9);
    flex-direction: column;
    justify-content: flex-center;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;

    .container-overlay {
        padding: 12px 32px;
        padding-bottom: 52px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        overflow-y: auto;
    }
    .card {
        margin-right: 16px;
        height: 300px;
        flex: 1 1 250px;
    }

    .card:last-child {
        // margin-bottom: 32px;
    }
}
.close-block {
    // display: flex;
    // justify-content: flex-end;
    position: absolute;
    right: 12px;
    top: 12px;
}

.close-btn {
    font-size: 2.4rem;
    padding: 0px 8px;

    font-weight: bold;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

// ----- Add Box --------

.addbox-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 46, 46, 0.2);
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.4s;
    overflow-y: auto;
    display: flex;
}

// ---- Responsive -------

@media (max-width: 1024px) {
    .frame {
        margin-right: 16px;
    }
}

@media (max-width: 739px) {
    .frame {
        height: 300px;
        margin-right: 16px;
    }

    .seeall-overlay {
        justify-content: center;

        .container-overlay {
            justify-content: center;
        }
    }
}

@media (max-width: 390px) {
    .seeall-overlay {
        .container-overlay {
            padding-bottom: 32px;
        }
    }
    .seeall-overlay {
        .close-btn {
            font-size: 2.8rem;
        }
    }

    .frame {
        margin-right: 0;
    }
    .create-wrapper {
        width: 100%;
    }
}
