.wrapper {
    width: 100%;
    height: auto;
    overflow-y: auto;
}
.title {
    padding: 16px 0;
}
.projects {
    margin-top: 24px;
    max-height: calc(100% - 68px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // margin-bottom: 32px;
    // overflow-y: auto;
}

@media (max-width: 739px) {
    .projects {
        justify-content: center;
    }
    .title {
        text-align: center;
    }
}
