.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    // height: 200px;
    padding: 4px 0;
    align-items: center;
}

.img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.text {
    max-width: 400px;
    margin-left: 12px;
    height: 150px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    h3 {
        padding: 8px 0;
    }
}

.count-block {
    flex: 1;
    display: flex;
    float: right;
    text-align: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.task-count {
    min-width: 200px;
    margin-left: 12px;
    margin-bottom: 4px;
    height: 60px;
    padding: 6px;
    border: 1px solid #e4423266;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transition: background-color 0.1s linear;
    cursor: pointer;

    &:hover {
        background-color: #e4423244;
    }

    p {
        font-size: 1.4rem;
        font-weight: bold;
        color: #2b2525e6;
    }
}
.active {
    background-color: #e4423288;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

// card
.card {
    display: flex;
    border-radius: 16px;
    border: 1px solid #333;
    border-top: 3px solid var(--primary);
    height: 170px;
    width: 250px;
    margin-right: 12px;
    margin-bottom: 12px;
    position: relative;
    &:hover .menu {
        width: 40px;
    }
}

.info {
    padding: 8px;
    flex: 1;

    // box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    display: flex;
    flex-direction: column;
    transition: 0.15s ease;
    position: relative;
    cursor: pointer;
}

.menu {
    position: absolute;
    width: 0;
    height: 90px;
    right: 0;
    top: 50%;
    transform: translateY(-30%);
    background-color: #12120f;
    border-radius: 16px;

    transition: all 0.2s ease-in;

    ul {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .icon {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.2rem;
        color: var(--primary);
        width: 100%;
        border-radius: 16px;

        transition: background-color 0.15s ease;
        cursor: pointer;
        &:hover {
            background-color: #504e4e;
        }
    }
}
.right-icon {
    text-align: right;
    height: 20px;
    z-index: 2;

    .circle-icon {
        color: red;
        font-size: 24px;
    }
}

.title {
    padding: 0 4px;
    margin-bottom: 4px;
}

.des {
    padding: 0 4px 4px 4px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #2b2525e6;
    text-overflow: ellipsis;
    overflow: hidden;
}

// card-input
.card-input {
    margin-right: 12px;
    margin-bottom: 12px;
    width: 250px;
    padding: 8px;
    height: 170px;
    border-radius: 16px;
    border: 1px solid #333;
    border-top: 3px solid black;
    // box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    display: flex;
    flex-direction: column;
    transition: 0.15s ease;
    position: relative;
    cursor: pointer;
    position: relative;
    transition: display 0.2s ease-in-out;

    .title-input {
        width: 100%;
        font-size: 1.5rem;
        padding: 0 4px;
        margin-bottom: 4px;
        border-bottom: 1px solid black;
        font-weight: bold;
        margin-bottom: 8px;
    }
    .des-input {
        padding: 4px;
        font-size: 1.4rem;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
        outline: none;
        resize: none;
    }

    .circle-icon {
        color: black;

        &:hover {
            opacity: 0.7;
        }
    }
}

.add-tool {
    margin-right: 12px;
    margin-bottom: 12px;
    width: 70px;
    height: 170px;
    border-radius: 16px;
    // box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #333;
    border: 1px solid #333;
    transition: background-color ease 0.15s;

    &:hover {
        background-color: rgb(47, 44, 44, 0.8);
    }
    .plus-icon {
        margin-top: 40%;
        font-size: 2rem;
        color: white;
    }
}

@media (max-width: 739px) {
    .count-block {
        margin-top: 12px;
    }
    .task-count {
        min-width: 120px;

        p {
            font-size: 1rem;
        }
    }
    .content {
        margin-top: 12px;
        padding-bottom: 30px;
        justify-content: center;
        overflow: overlay;
    }

    .add-tool {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 250px;

        .plus-icon {
            margin-top: 0;
        }
    }
}

@media (max-width: 519px) {
    .header {
        height: 150px;
        padding: 0 12px;
    }
    .content {
        padding: 12px;
    }
    .img {
        display: none;
    }

    .add-tool,
    .card-input,
    .card {
        width: 100%;
        margin-right: 0;
    }
}
