.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 16px 0;
    display: flex;
    height: 200px;
    align-items: center;
}

.img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.text {
    max-width: 400px;
    margin-left: 12px;
    height: 150px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    h3 {
        padding: 8px 0;
    }
}

.count-block {
    flex: 1;
    display: flex;
    float: right;
    text-align: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.task-count {
    min-width: 200px;
    margin-left: 12px;
    margin-bottom: 4px;
    height: 60px;
    padding: 6px;
    border: 1px solid #e4423266;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transition: background-color 0.1s linear;
    cursor: pointer;

    &:hover {
        background-color: #e4423244;
    }

    p {
        font-size: 1.4rem;
        font-weight: bold;
        color: #2b2525e6;
    }
}
.active {
    background-color: #e4423288;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

// card
.card {
    margin-right: 12px;
    margin-bottom: 12px;
    width: 250px;
    padding: 8px;
    max-height: 130px;
    border-radius: 16px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    display: flex;
    flex-direction: column;
}

.right-icon {
    text-align: right;
    height: 20px;

    .circle-icon {
        color: red;
        font-size: 24px;
    }
}

.title {
    padding: 0 4px;
    margin-bottom: 4px;
}

.des {
    padding: 0 4px 4px 4px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #2b2525e6;
    text-overflow: ellipsis;
    overflow: hidden;
}

.add-tool {
    margin-right: 12px;
    margin-bottom: 12px;
    width: 70px;
    height: 130px;
    border-radius: 16px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #333;

    &:hover {
        background-color: rgb(47, 44, 44, 0.8);
    }
    .plus-icon {
        margin-top: 40%;
        font-size: 2rem;
        color: white;
    }
}

@media (max-width: 739px) {
    .task-count {
        min-width: 120px;

        p {
            font-size: 1rem;
        }
    }
    .content {
        padding-bottom: 30px;
        max-height: 400px;
        justify-content: center;
        overflow: auto;
    }

    .add-tool {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;

        .plus-icon {
            margin-top: 0;
        }
    }
}

@media (max-width: 519px) {
    .header {
        height: 150px;
    }
    .content {
        padding: 8px 0;
    }
    .text {
        display: none;
    }

    .add-tool .card {
        width: 100%;
    }
}
