.wrapper {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.events {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

.header {
    min-width: 300px;
    padding: 4px 12px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;

    h3 {
        font-size: 2rem;
    }
}

.create-event {
    display: flex;
    align-items: center;
    .label {
        padding: 4px 16px;
        font-size: 1.6rem;
        font-weight: 500;
    }

    .plus-btn {
        padding: 8px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 1px solid var(--primary);
        font-size: 1.4rem;
        cursor: pointer;
        transition: background-color 0.1s ease;

        &:hover {
            background-color: #e4423266;
        }
    }
}

.list {
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    padding: 4px 12px;
}

.card {
    min-height: 100px;
    width: 100%;
    padding: 8px;
    margin: 0 8px 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #333;
    border-radius: 12px;
    background-clip: border-box;
    overflow: hidden;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h4 {
        // font-family: Montserrat;
    }

    p {
        font-family: monospace;
    }
}
.tools {
    min-width: 100px;
}
.tool {
    font-size: 2rem;
    margin: 12px;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
        color: #e44232;
    }
}

// Calender
.calendar {
    height: 350px;
    padding: 4px 12px;
    margin-bottom: 8px;
    border-radius: 16px;
}

.check {
    color: #19b121;
    font-size: 1.6rem;
}

//overlay

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 739px) {
    .wrapper {
        justify-content: center;
        // align-items: center;
    }

    .calendar {
        width: 100%;
    }
    .create-event {
        margin: 0;
    }
    .list {
        justify-content: center;
        margin-right: 0;
    }
}

@media (max-width: 510px) {
    .tools {
        min-width: 50px;
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 100%;
        margin-right: 0;
    }
}
